<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="pr15" 
    version="3.0">
  <display-name>primer 15</display-name>
  <servlet>
    <servlet-name>InitDb</servlet-name>
    <servlet-class>pr02.InitDbServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ListTeachers</servlet-name>
    <servlet-class>pr02.ListTeachersServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitDb</servlet-name>
    <url-pattern>/initdb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListTeachers</servlet-name>
    <url-pattern>/list</url-pattern>
  </servlet-mapping>
</web-app>